* {
	box-sizing: border-box;
}
body {
	background: #111;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.cards {
	position: absolute;
	width: 16rem;
	height: 20rem;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 16rem;
	height: 25rem;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	font-family: sans-serif;
	background-color: #9d7cce;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;
}
#cards_li_1{
  background:url(./image/1.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_2{
  background:url(./image/2.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_3{
  background:url(./image/3.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_4{
  background:url(./image/4.jpg) no-repeat;
  background-size: 100% 100%;
}

#cards_li_5{
  background:url(./image/5.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_6{
  background:url(./image/6.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_7{
  background:url(./image/7.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_8{
  background:url(./image/8.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_9{
  background:url(./image/9.jpg) no-repeat;
  background-size: 100% 100%;
}

#cards_li_02{
    background:url(./image/02.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_03{
    background:url(./image/03.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_04{
    background:url(./image/04.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_05{
    background:url(./image/05.jpg) no-repeat;
    background-size: 100% 100%;
  }
  
  #cards_li_06{
    background:url(./image/06.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_07{
    background:url(./image/07.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_08{
    background:url(./image/08.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_09{
    background:url(./image/09.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards_li_010{
    background:url(./image/010.jpg) no-repeat;
    background-size: 100% 100%;
 
}

#cards_li_a{
  background:url(./image/a.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_b{
  background:url(./image/b.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_c{
  background:url(./image/c.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_d{
  background:url(./image/d.jpg) no-repeat;
  background-size: 100% 100%;
}

#cards_li_e{
  background:url(./image/e.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_f{
  background:url(./image/f.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_g{
  background:url(./image/g.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_h{
  background:url(./image/h.jpg) no-repeat;
  background-size: 100% 100%;
}
#cards_li_i{
  background:url(./image/i.jpg) no-repeat;
  background-size: 100% 100%;
}


.actions {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
}

button {
  display:inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
}

button:hover {
  background: #57a818;
  background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
  background-image: -moz-linear-gradient(top, #57a818, #4d9916);
  background-image: -ms-linear-gradient(top, #57a818, #4d9916);
  background-image: -o-linear-gradient(top, #57a818, #4d9916);
  background-image: linear-gradient(to bottom, #57a818, #4d9916);
  text-shadow: 0px 1px 0px #32610e;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #ffffff;
  text-decoration: none;
}

button {
  font-size: 20px;
  font-weight: 400;
}

a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.back{
  display: block;
  position: relative;
  top: 10%;
  left: 10%;
}